body {
    /*background-color: white !important;*/
}

h1, h2 {
    display: block;
}

h1 {
    font-size: 13rem;
}

h2 {
    font-size: 4rem;
    margin: 2vw;
}

.go-back, .go-back:link, .go-back:visited {
    display: block;
    font-size: 3rem;
    color: rgb(248, 148, 164);
    text-align: center;
}