#player-container {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.player {
    /*background-color: rgb(245, 245, 245);*/
    padding: 0.2rem;
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: 1fr 1fr;
}

.player-done {
    background-color: rgb(141, 224, 15);
}

.player-disconnected {
    background-color: rgb(221, 88, 90);
}

.player + .player {
    margin-top: 5px;
}

.rank {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-size: 1.5rem;
}

.kick-button {
    border: 0;
    padding: 2px;
    background-color: rgb(218, 218, 218);
}

.kick-button:hover {
    background-color: rgb(244, 183, 247);
}

.kick-button:active {
    background-color: rgb(243, 132, 247);
}

.name-and-buttons {
    flex-direction: row;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.score-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playerscore {
    flex: 1;
}

.last-turn-score {
    font-size: 0.8rem;
    color: lightslategray;
}

.playername {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.playername, .playerscore {
    font-size: 1rem;
}