body {
    /*background-color: antiquewhite;*/
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

#top-left-cell {
    display: flex;
}

#rounds {
    font-size: 2rem;
    flex: 1;
}

#time-left {
    font-size: 2rem;
}

#word-container {
    text-align: center;
}

.guess-letter-underline {
    text-transform: uppercase;
    border-bottom: 0.3rem #39ff14 solid;
}

.guess-letter {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

.guess-letter+.guess-letter {
    margin-left: 0.5rem;
}

#lobby {
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 300px auto 350px;
    grid-template-rows: min-content auto auto min-content;
    grid-gap: 5px;
}

#drawing-board {
    background-color: white;
}

#chat {
    min-width: 15rem;
    height: 100%;
    display: grid;
    grid-template-rows: auto fit-content(100%);
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#message-container {
    padding: 5px;
    overflow-y: scroll;
    word-break: break-all;
    /*background-color: white;*/
}

#word-container {
    justify-items: center;
}

.chat-name {
    font-weight: bold;
}

.chat-name:after {
    content: ":";
}

.non-guessing-player-message {
    color: rgb(38, 187, 38);
}

.message-input-form {
    display: flex;
}

#message-input {
    flex: 1;
    border: 0;
    border-top: 3px solid black;
    padding: 5px;
}

#message-input:focus{
    outline: none;
    background-color: rgb(250, 232, 235);
}

#word-dialog {
    background-color: rgb(236, 232, 232);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 150px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.word-dialog-text {
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(240, 105, 127);
    margin-left: 20px;
    margin-right: 20px;
}

.word-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.word-button {
    border: 0;
    border-radius: 0;
    background-color: white;
    padding: 10px;
}

.word-button:hover {
    background-color: rgb(244, 183, 247);
}

.word-button:active {
    background-color: rgb(243, 132, 247);
}

.word-button+.word-button {
    margin-left: 10px;
}

#sound-toggle-label {
    font-size: 2rem;
}

.sound-toggle-input {
    height: 2rem;
    width: 2rem;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0.0;
    position: absolute;
}

.dot {
    background-color: black;
    border-radius: 50%;
}

.line-width-button+.line-width-button-content {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-width-button-content {
    background-color: rgb(218, 218, 218);
}

.line-width-button-content:hover {
    background-color: rgb(244, 183, 247);
}

.line-width-button:checked+.line-width-button-content {
    background-color: rgb(243, 132, 247);
}

#color-picker {
    border: 0;
    background-color: rgb(218, 218, 218);
    height: 50px;
    width: 50px;
    padding: 0px;
}

@-moz-document url-prefix() {
    #color-picker {
        padding: 5px;
    }
}

#color-picker:hover {
    background-color: rgb(244, 183, 247);
}

#color-picker:active {
    background-color: rgb(243, 132, 247);
}

.canvas-button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgb(218, 218, 218);
}

.canvas-button:hover {
    background-color: rgb(244, 183, 247);
}

.canvas-button:active {
    background-color: rgb(243, 132, 247);
}

.canvas-button::-moz-focus-inner {
    border: 0;
}

.color-button-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.color-button-row {
    display: flex;
    flex-direction: row;
}

.color-button {
    height: 24px;
    width: 24px;
    border: 0;
}

.color-button::-moz-focus-inner {
    border: 0;
}

.system-message {
    color: red;
}

#toolbox {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toolbox-group {
    margin-bottom: 10px;
    margin-right: 10px;
}

.toolbox-group:last-child {
    margin-right: 0;
}

.pencil-sizes-container {
    display: flex;
}