<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/resources/style.css" />
    <link rel="icon" type="image/png" href="/resources/favicon.png" />
</head>

<body>
    <div class="content-wrapper">
        <h1>Scribble.rs</h1>
        <h2>Create a lobby</h2>

        <div class="center-container">
            <div class="content-container">
                {{if .Errors}}
                <div class="error-list">
                    Your input contains invalid data:
                    <ul>
                        {{range .Errors}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <br />
                    Fix the input and try again.
                </div>

                {{end}}
                <form id="lobby-create" class="input-container" action="/lobby/create" method="POST">
                    <b>Name</b>
                    <input class="input-item" name="username" placeholder="Enter your username"
                        type="text" value="{{.Username}}" />
                    <b>Lobby-Password</b>
                    <input class="input-item" name="lobby_password" placeholder="Enter your password or leave empty"
                        type="password" value="{{.Password}}" />
                    <b>Lobby-Language</b>
                    <select class="input-item" name="language" placeholder="Choose your language">
                        {{range .Languages}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                    <b>Drawing Time</b>
                    <input class="input-item" type="number" name="drawing_time" min="{{.MinDrawingTime}}"
                        max="{{.MaxDrawingTime}}" value="{{.DrawingTime}}" />
                    <b>Rounds</b>
                    <input class="input-item" type="number" name="rounds" min="{{.MinRounds}}" max="{{.MaxRounds}}"
                        value="{{.Rounds}}" />
                    <b>Maximum Players</b>
                    <input class="input-item" type="number" name="max_players" min="{{.MinMaxPlayers}}"
                        max="{{.MaxMaxPlayers}}" value="{{.MaxPlayers}}" />
                    <b>Custom Words</b>
                    <textarea class="input-item" name="custom_words"
                        placeholder="Enter your additional words, seperating them by commas">{{.CustomWords}}</textarea>
                    <b>Custom Words Chance</b>
                    <input type="range" name="custom_words_chance" min="1" max="100" value="{{.CustomWordsChance}}">
                    <b>Clients per IP Limit</b>
                    <input class="input-item" type="number" name="clients_per_ip_limit" min="{{.MinClientsPerIPLimit}}"
                        max="{{.MaxClientsPerIPLimit}}" value="{{.ClientsPerIPLimit}}" />
                   <b>Enable Votekick</b>
                    <input class="input-item" type="checkbox" name="enable_votekick" value="true" checked="{{.EnableVotekick}}" />
                    <button type="submit" form="lobby-create" style="grid-column-start: 1; grid-column-end: 3;">Open
                        Lobby</button>
                </form>
            </div>
        </div>
    </div>

    {{template "footer"}}
</body>

</html>
